
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Register expenses</title>
</head>
<body>
<div >

<form action="/regular" method="POST" id="addInForm"> 

  
  <br>
  <font size="6">Regular Expenses</font>
  <br><br>

  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
</style>

  <table style="width:100%">
    <tr>
        <th>Expense</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    {{range .RegularExp}}   
    <tr>
        <td>{{.Comment}}</td>
        <td>{{.Amount}}</td>
        <td>{{.EntryDate}}</td>
    </tr> 
    {{end}}
  </table>

  <br><br>

  <label> Change the value of an existing expense  
    <select name = "regularExpense">
      {{range .RegularNames}}
      <option value="{{.}}"><li>{{.}}</li></option>
      {{end}}
    </select>
    <br><br>
    <label> Amount </label><input name="amountChange" type="text" value="" />
    <br><br>
    <br><br>

    <label> Add a new expense 
      <br><br>
    <label> Expense name 
    </label><input name="name" type="text" value="" />
    <br><br>
    <label> Amount </label><input name="amountNew" type="text" value="" />
    <br><br>

  <input type="submit" value="Submit" />
</form>


<form>
  <br><br>  
  <input TYPE="button" VALUE="Home Page" onclick="window.location.href='/'">
</form>

<form>
<br><br> 
<label> Add regular expenses with current date 
  <input TYPE="button" VALUE="Add to Expenses" onclick="window.location.href='/add'">
</form>

</div>






</body>
</html>

